<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body
    class="h-screen flex flex-col bg-neutral-200 font-outfit overflow-y-auto"
  >
    <%- include("partials/header") %>

    <div class="flex pt-12 h-full">
      <%- include("partials/sidebar") %>

      <div class="xl:ml-64 flex-1">
        <main class="bg-neutral-50">
          <div class="bg-neutral-200 p-4 mb-4 sticky z-30 top-12">
            <h2 class="text-4xl font-semibold mb-2">Genres</h2>
            <a href="/genres/new" class="btn"> Add Genre </a>
          </div>
          <div class="p-4">
            <% if (genres.length === 0) { %>
            <p class="text-neutral-600">No genres found.</p>
            <% } else { %>
            <ul class="space-y-3">
              <% genres.forEach(genre => { %>
              <li
                class="relative mb-10 cursor-pointer"
                onclick="window.location='/books/?genre=<%= genre.id %>'"
              >
                <div
                  class="z-20 relative w-full p-4 h-full hover:bg-neutral-100 transition bg-white rounded-lg shadow-md"
                >
                  <h4 class="font-semibold text-lg"><%= genre.name %></h4>
                  <p class="text-sm text-neutral-600">
                    <%= genre.description %>
                  </p>
                </div>

                <div class="space-x-3 z-10 absolute right-4 top-full">
                  <a
                    href="/genres/<%= genre.id %>/edit"
                    class="btn rounded-t-none"
                    onclick="event.stopPropagation();"
                    >Edit</a
                  >
                  <a
                    href="/genres/<%= genre.id %>/delete"
                    class="btn rounded-t-none bg-red-700"
                    onclick="event.stopPropagation();"
                    >Delete</a
                  >
                </div>
              </li>
              <% }) %>
            </ul>
            <% } %>
          </div>
        </main>

        <%- include("partials/footer") %>
      </div>
    </div>
  </body>
</html>
